DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DBNAME
PORT=3000
JWT_SECRET=
CORS_ORIGIN=http://localhost:5173

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

OPENAI_API_KEY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
